<question
    [identifier]="3"
    title="Druiven"
    question="Hoe vaak hebben Jolanda en Edze geslapen in het knusse tuinhuis op hun vorige moestuin?"
    [qImgs]="[{ url: 'Schoffel.webp' }]"
    [options]="['een keer teveel', 'nooit', 'ontelbaar vaak', 'precies twee keer']"
    [answers]="[false, true, false, false]"
    toelichting="Zij hadden speciaal een bedbank neergezet, maar er waren telkens ‘smoesjes’ om niet op De Schoffel de nacht door te brengen: het was te warm of te koud, de kinderen konden niet alleen thuis zijn, een lek in het dak, angst voor inbrekers, teveel hinder van de treinen, enzovoort…"
    [aImgs]="[]"
></question>
