<div class="flex flex-col gap-4">
    <article class="prose lg:prose-xl">
        <h1>Vraag 1</h1>
        <p>Dit is een kort vraag met een standaard tekst veld. Wat moet je hier invullen?</p>
    </article>
    <form [formGroup]="form" class="flex flex-row gap-2">
        <input
            type="text"
            class="px-4 rounded-full py-2 placeholder:italic placeholder:text-slate-400"
            placeholder="Wie zal het zeggen..."
            [formControl]="controls.q1"
            [ngClass]="{ 'ring-2 ring-red-500': showError && !controls.q1.valid }"
        />
        <button (click)="submit()" class="bg-green-300 rounded-full flex justify-center p-2 shadow-md w-10 h-10">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class="w-6 h-6 stroke-black"
                fill="none"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="arcs"
            >
                <polyline points="20 6 9 17 4 12"></polyline>
            </svg>
        </button>
    </form>
</div>
