<question
    [identifier]="1"
    title="Pomp"
    question="Waar werd deze trouwfoto gemaakt?"
    [qImgs]="[{ url: 'Scheveningen regenboog 2 IMG_20220822_151942440~3.webp' }]"
    [options]="['Scheveningen', 'Delftse Hout', 'Ockenburg', 'Kijkduin']"
    [answers]="[true, false, false, false]"
    toelichting="Tijdens onze trouwfotoserie, op 20 november 1987, ’s ochtends in de duinen, moesten we vanwege de regen ook naar binnen uitwijken (Kurhaus). Later die dag trouwden we in het Stadhuis van Delft."
    [aImgs]="[
        { url: 'Scheveningen buiten vierkant IMG_20220822_144816087~3.webp' },
        { url: 'Scheveningen binnen IMG_20220822_145035107~3.webp' }
    ]"
></question>
