<question
    [identifier]="5"
    title="Amfi"
    question="Met welke podiumkunst hebben Jolanda en Edze nooit op een buiten-podium gestaan?"
    [qImgs]="[{ url: 'Amfi van bovenaf Screenshot_20220823-094150-908.png' }]"
    [options]="['koorzang', 'ballet', 'acrobatiek', 'band-optreden']"
    [answers]="[true, true, false, false]"
    [toelichting]="toelichting"
    [aImgs]="[
        { url: 'Acrobatiek vierkant IMG_20220822_145555129_HDR~3.jpg' },
        { url: 'BamBBand amfi 2 Screenshot_20220822-095952-684~2.png' }
    ]"
></question>
