<question
    [identifier]="5"
    title="Amfi"
    question="Met welke podiumkunst hebben Jolanda en Edze nooit op een buiten-podium gestaan?"
    [qImgs]="[{ url: 'Amfi van bovenaf Screenshot_20220823-094150-908.png' }]"
    [options]="['koorzang', 'ballet', 'acrobatiek', 'band-optreden']"
    [answers]="[true, true, false, false]"
    toelichting="Met de BamBBand stond Edze onlangs nog op dit mooie amfi-podium; ooit was Jolanda met acrobatiek te zien tijdens de Delftse Mooi Weer Spelen; Jolanda’s koor Delftst Blond trad tot nu toe alleen binnen op; en met ballet hebben Edze en Jolanda het beide nooit tot een buiten-optreden gebracht."
    [aImgs]="[
        { url: 'Acrobatiek vierkant IMG_20220822_145555129_HDR~3.jpg' },
        { url: 'BamBBand amfi 2 Screenshot_20220822-095952-684~2.png' }
    ]"
></question>
