<question
    [identifier]="4"
    title="Compost"
    question="Wie van dit gezin heeft/hebben zonder bio-opleiding verstand van planten en ‘groene vingers’"
    [qImgs]="[{ url: 'gezin vierkant IMG_20190203_155836760_BURST000_COVER_TOP.jpg' }]"
    [options]="['Jolanda en Jurre', 'Jolanda', 'Jurre', 'Edze en Jurre']"
    [answers]="[false, false, true, false]"
    toelichting="Eline, Stijn, Mieke, Mario, maar ook Jolanda studeerden allemaal in Wageningen; Edze is nog nooit betrapt op het ‘hebben van groene vingers’…"
    [aImgs]="[{ url: 'Screenshot_20220828-181648-062.png' }]"
></question>
