<div class="flex flex-col gap-8">
    <article class="prose lg:prose-xl">
        <h1>Warmoes-quest</h1>
        <p class="flex">
            <app-icon
                *ngFor="let question of questions"
                [color]="routeColors[question]"
                [innerColor]="question === 3 ? 'black' : 'white'"
                class="grow"
            ></app-icon>
        </p>
        <p>Al willen wij onze geheimen graag delen... Je moet er wel even moeite voor doen...</p>
        <p>
            Hoe werkt het? <br />
            Vul je (team-) naam in <span class="font-bold">(todo)</span> en struin door alle tuinen van de Warmoestuin. Wanneer je
            goed rondkijkt, zie je niet alleen veel moois, maar ook zes kleine gekleurde vlaggetjes.
        </p>
        <p>
            Scan van elk vlaggetje de QR code en de vraag komt in beeld. (URL staat er onder) <br />
            Vul het juiste antwoord in en sla op! <br />
            <span class="italic">Tip: vraag eens raad aan een andere feestganger of buurtgenoot </span>
        </p>
        <p>
            Heb je alle vragen gespeeld?... <br />
            Dan worden onze tuingeheimen prijsgegeven!
        </p>
        <p>Veel plezier!</p>
        <!-- <p class="flex flex-wrap gap-3">
            <a *ngFor="let question of questions" [routerLink]="'/' + routes[question]">Vraag {{ question }}</a>
        </p>
        <p>Normaal staan deze linkjes er dus niet maar kan je er alleen via QR komen.</p> -->

        <app-answers></app-answers>
    </article>
</div>
