<div class="flex flex-col gap-8">
    <article class="prose lg:prose-xl">
        <h1>Warmoes-quest</h1>

        <p>Al willen wij onze geheimen graag delen... Je moet er wel even moeite voor doen...</p>

        <p class="flex">
            <app-icon
                *ngFor="let question of questions"
                [color]="routeColors[question]"
                [innerColor]="question === 4 ? 'black' : 'white'"
                class="grow"
            ></app-icon>
        </p>
        <app-answers></app-answers>
        <p>
            <span class="font-bold">Hoe werkt het?</span> <br />
            Struin (met een groepje) door alle tuinen van de Warmoestuin. Wanneer je goed rondkijkt, zie je niet alleen veel
            moois, maar ook zes kleine, gekleurde vlaggetjes:
        </p>

        <ul class="list-disc marker:text-black">
            <li>Eentje bij de pomp in de Waterspeeltuin (aqua),</li>
            <li>Eentje in de kruidencirkel in de Moestuin (oker),</li>
            <li>Eentje bij de druivenkas naast de Spiraaltuin (lavendel),</li>
            <li>Eentje bij de compostbak in de Voedseltuin (citroen),</li>
            <li>Eentje bij het amfitheater op het Middenterrein (fucsia),</li>
            <li>Eentje en bij de steiger in de Boomgaard (wortel)…</li>
        </ul>
        <p>
            Scan van elk vlaggetje de QR code en de vraag komt in beeld. (URL staat er onder) <br />
            Vul jouw antwoord in en sla op! <br />
            <span class="italic">Tip: vraag eens raad aan een andere feestganger of buurtgenoot </span>
        </p>
        <p>
            Heb je alle vragen gespeeld?... <br />
            Dan worden onze tuingeheimen prijsgegeven!
        </p>
        <p>Veel plezier!</p>
    </article>
</div>
