<question
    [identifier]="6"
    title="Steiger"
    question="Welke verfrissende happening op de Warmoestuin moeten we hier elk jaar weer missen?"
    [qImgs]="[{ url: 'regenboog boomgaard vierkant IMG_20190103_120109591.jpg' }]"
    [options]="[
        'de jaarlijkse Warme truien dag',
        'het jaarlijkse Warmoes-boomgaardsap festijn',
        'het jaarlijkse Warmoes-waterballet',
        'de jaarlijkse Warmoes-Nieuwjaarsduik'
    ]"
    [answers]="[false, false, false, true]"
    toelichting="Sinds 1983 vieren wij elk jaar Oud en Nieuw met onze Bamb-vriendengroep. In een zeer goed geïsoleerd huis hoef je geen warme truien aan; en… Kun je iets wat (nog) niet bestaat wel missen?"
    [aImgs]="[
        { url: 'Nieuwjaarsduik IMG-20210101-WA0026(1).jpg', text: 'Foto: Maarten Duijvestijn' },
        { url: 'Egmond aan Zee 1-1-2020 Screenshot_20220822-155219-923~2.png' }
    ]"
></question>
