<question
    [identifier]="6"
    title="Steiger"
    question="Welke jaarlijkse verfrissende happening op de Warmoestuin moeten Jolanda en Edze hier elk jaar weer missen?"
    [qImgs]="[{ url: 'regenboog boomgaard vierkant IMG_20190103_120109591.webp' }]"
    [options]="[
        'de Warme truien dag',
        'het Warmoes-boomgaardsap festijn',
        'het Warmoes-waterballet',
        'de Warmoes-Nieuwjaarsduik'
    ]"
    [answers]="[false, false, false, true]"
    [toelichting]="toelichting"
    [aImgs]="[
        { url: 'Nieuwjaarsduik IMG-20210101-WA0026(1).jpg', text: 'Foto: Maarten Duijvestijn' },
        { url: 'Egmond aan Zee 1-1-2020 Screenshot_20220822-155219-923~2.webp' }
    ]"
></question>
