<ng-container *ngIf="answers$ | async as answers">
    <div *ngIf="all(answers)" class="shadow-lg px-3 py-1 bg-opacity-10 bg-white rounded">
        <h4>Gefeliciteerd!</h4>
        <p>
            Je hebt alle vragen beantwoord! <br />
            Zoek en vind je beloning in de Voedseltuin achter de boerderij-woningen. Langs het houtsnipper-pad staat bij de hoge
            palen een zinken emmer, met daarin voor iedereen iets leuks.
        </p>
    </div>
    <p>
        <span class="flex gap-2 text-2xl flex-wrap">
            <ng-container *ngFor="let answer of answers">
                <a
                    *ngIf="answer.answered"
                    [routerLink]="answer.route"
                    attr.style="background-color: {{ answer.color }}"
                    class="shadow-lg rounded-md grow flex justify-center py-2 no-underline font-normal"
                >
                    {{ answer.label }}
                </a>
                <a
                    *ngIf="!answer.answered && answer.found"
                    [routerLink]="answer.route"
                    attr.style="border-color: {{ answer.color }}"
                    class="shadow-lg rounded-md grow flex justify-center py-2 no-underline font-normal border 2"
                >
                    {{ answer.label }}
                </a>
                <div *ngIf="!answer.answered && !answer.found" class="rounded-6 flex grow justify-center py-2">
                    {{ answer.label }}
                </div>
            </ng-container>
        </span>
        <span *ngIf="any(answers)" class="pt-4 text-sm block">Klik op een vraag om hem opnieuw te bekijken.</span>
    </p>
</ng-container>
